/* .lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #dc3645;
    }
    
    .lingkaran i {
    position: relative;
    top: 30px;
    } */

.navbar-background {
    background-color: #416165;
}

/* autohide scrool */
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}

.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}

/* banner home */
.banner {
    /* background: url("/img/library_banner.jpg")
    no-repeat center center; */
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: #fff;
    
    /* background banner */
    background-color: #0B3948;
}

/* logo buku */
.logoBook i{
    padding-top: 110px;
    margin-left: 150px;
}


.button {
    background-color: #2C5784;
}

/* kontak */
.kontak {
    background-color: #0B3948;
}

/* tim */
.tim {
    width: 250px;
    border: 10px solid;
}

.footer {
    background-color: #416165;
}

.footer p {
    display: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer a {
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

.footer a:hover {
    color: #4763FD;
}

/* Mobile Responsive */
@media screen and (max-width: 600px) {
    .logoBook {
        padding-right: 30%;
        padding-bottom: 70px;
    }
}

